{% extends "index.html" %}
{% block content %}
<div>
    {% if nodes %}
        {% for key, value in nodes.items() %}
            <p><h3><b>{{ key }}</b>
            {% if value['availability'] %}
                <span class="badge badge-success">Available</span>
                <a class="btn btn-primary" href="{{ value['address'] }}" role="button">Node address</a>
            {% else %}
                <span class="badge badge-secondary">Unavailable</span>
            {% endif %}
            </h3></p>
        {% endfor %}
    {% else %}
    <h1>No nodes available</h1>
    {% endif %}
</div>
{% endblock %}